
<div class="row card-text">
    {% for content in entry.contents%}
    
    <div class="col-sm-2 abbr"> 
        <abbr class="badge" style="background-color:var(--global-theme-color)">{{content.year}}</abbr>
    </div>
    <div class="col-sm-10">
        {% if content.title %}
            <div class="title" style="font-weight:400;">{{content.title}}</div>
        {% endif %}
        {% if content.department or content.institution %}
            <table class="table-cv institution">
            <tbody>
              {% if content.institution %}
              <tr>
                <td style="vertical-align: top; text-align: center;" class="institution"><i class="fas fa-university iconinstitution"></i></td>
                <td class="institution">{{content.institution}}</td>
              </tr>
              {% endif %}
              {% if content.department %}
              <tr>
                <td style="vertical-align: top; text-align: center;" class="department"><i class="far fa-dot-circle icondepartment"></i></td>
                <td class="department">{{content.department}}</td>
              </tr>
              {% endif %}
              {% if content.advisor %}
              <tr>
                <td style="vertical-align: top; text-align: center;" class="department"><i class="far fa-user icondepartment"></i></td>
                <td class="department"><a href="{{content.url}}">{{content.advisor}}</a></td>
              </tr>
              {% endif %}
              {% if content.advisor contains "Advisor" %}
              <tr>
                <td style="vertical-align: top; text-align: center;" class="department"><i class="far fa-hand-point-right icondepartment"></i></td>
                <td class="department detailss"><a role="button" class="abstract">Details</a></td>
              </tr>
              {% endif %}
            </tbody>
            </table>
        {% endif %}
        {% if content.maindescription %}
              <div class="ml-1 ml-md-4 ">{{ content.maindescription }}</div>
            {% endif %}
        {% if content.description %}
            <ul class="items" >
            {% for item in content.description %}
                <li>
                    <span class="item" >{{ item }}</span>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endfor %}
</div>

