
<div class="row card-text">
    {% for content in entry.contents%}
    
    <div class="col-sm-2 abbr"> 
        <abbr class="badge" style="background-color:var(--global-theme-color)">{{content.year}}</abbr>
    </div>
    <div class="col-sm-10">
        {% if content.title %}
            <div class="title" style="font-weight:400;">{{content.title}}</div>
        {% endif %}
        {% if content.department or content.institution %}
            <table class="table-cv institution">
            <tbody>
              {% if content.institution %}
              <tr>
                <td style="vertical-align: top; text-align: center;" class="institution"><i class="fas fa-university iconinstitution"></i></td>
                <td class="institution">{{content.institution}}</td>
              </tr>
              {% endif %}
              {% if content.department %}
              <tr>
                <td style="vertical-align: top; text-align: center;" class="department"><i class="far fa-dot-circle icondepartment"></i></td>
                <td class="department">{{content.department}}</td>
              </tr>
              {% endif %}
            </tbody>
            </table>
        {% endif %}
        {% if content.maindescription %}
              <div class="">{{ content.maindescription }}</div>
        {% endif %}
    </div>
    {% endfor %}
</div>

